%div.about
  %header.header
    %img{:src => 'images/about_header.png'}
  %section#main-text
    %header
      8  האברים באשטנגה יוגה:
    %div
      פרוש המילה אשטנגה הוא אשטה=8 אנגה=איבר.  על פי היוגה סוטרא של פטנגלי קיימים 8 שלבים המביאים את המתרגל היוגי להתפתחות רוחנית.
      %a#limbs-open (קרא עוד)
      %section#limbs-text
        %br
        %p
          1.יאמה -ערך התנהגותי לפיו צריך לינהוג הכוונה לערכים אוניברסאליים מוסכמים:
        %p
          האימסה- אי אלימות, המנעות מפגיעה במחשבה ,דיבור או פעולה בכל יצור חי.
        %p
          סטיה- אמירת אמת, כנות.
        %p
          אסטיה- המנעות מחמדנות, מגניבה.
        %p
          ברהמצריה- טוהר בעשיה,איפוק מיני.
        %p
          אפאריגרה- אי רכושנות , לא ליצבור דברים.
        %br
        %p
          2.ניאמה-משמעת עצמית:
        %p
          שאוצה- טוהר הגוף.
        %p
          סנטושה- סיפוק ממה שיש.
        %p
          טאפס- התלהבות.
        %p
          סואדהיאיה- לימוד עצמי מכתבים עתיקים קדושים.
        %p
          אישוורה פראנידהאנה- התמסרות לאלקים.
        %br
        %p
          3.אסאנה-תנוחות יוגה,תירגול פיזי שנועד לטהר את הגוף והמחשבה‪.‬ אנא=גוף אסה= ישיבה ,ישיבה בתוך גוף כל שצריך לעשות על מנת שהישיבה בתוך הגוף תיהיה אפשרית.
        %br
        %p
          4.פראניאמה-  הנעת הנשימה - הגברת חמצן למח שיוצרת תודעה בריאה ועירנית.
        %br
        %p
          5.פרטיהארה- התכנסות החושים - ריסון החושים על מנת לימנוע הסחת הדעת מכל מה שטפל.
        %br
        %p
          6.דהארנה- ריכוז.
        %br
        %p
          7.דהיינה- מדיטציה , מצב תודעתי שמיתקבל מתוך תירגול של ששת השלבים הקודמים.
        %br
        %p
          8. סמאדהי- מצב מדיטטיבי שבו יכול האדם להיות אחד עם הטבע, החיבור אל הקוסמוס.
          %a#limbs-close (הקטן)
      %header
        ששת הסדרות באשטנגה יוגה:
      %div
        הסידרה הראשונה - ניקראת יוגה ציקיטסה - יוגה תראפיה.  סידרה זו היא החשובה ביותר מכל הסדרות כיוון שהיא הבסיס לתירגול שאר הסדרות ,עי תירגול סידרה זו ניבנה יסודות נכונים של זקיפות ,שליטה באוזאי ובאנדות , הסדרה הראשונה מתמקדת בקפיפות לפנים.
        %a#series-open (קרא עוד)
        %section#series-text
          %br
          %p
            הסידרה השניה - נאדי שודהנה ,טיהור מערכת העצבים מתמקדת בעיקר בקפיפות לאחור ,בהקשתות.
          %p
            הסדרות השלישית,רביעית,חמישית ושישית הן סדרות מתקדמות ניקראות - סטירה בהאגה - תירגול מיתקדם סדרות אלו משלבות בין גמישות לכח ואליהן ניגשים אחרי תירגול ממושך של הסדרות הראשונות, סדרות אלו מצריכות רמה גבוהה של גמישות ,ענווה וצניעות.
          %p
            הסידרה הראשונה נילמדת בסטודיו בימי חמישי ב 8 וחצי בערב.
            %a#series-close (הקטן)
%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.about();
  })
  //]]>