%div.gallery
  %header
    %h1.page-header גלריה
  %section#main-text
    %a{:href =>"images/fullscreen/1.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_1.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/2.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_2.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/3.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_3.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/5.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_5.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/6.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_6.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/7.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_7.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/8.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_8.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/9.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_9.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/10.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_10.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/11.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_11.jpg", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/12.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_12.jpg", :width => "150", :height => "113"}
%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.gallery();
  })
  //]]>