%div.gallery
  %header
    %h1.page-header גלריה
  %section#main-text
    %a{:href =>"images/fullscreen/1.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_1.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/2.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_2.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/3.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_3.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/4.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_4.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/5.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_5.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/6.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_6.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/7.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_7.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/8.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_8.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/9.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_9.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/10.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_10.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/11.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_11.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/12.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_12.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/13.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_13.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/14.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_14.png", :width => "150", :height => "113"}
    %a{:href =>"images/fullscreen/15.jpg", :rel => "prettyPhoto[pp_gal]"}
      %img{:src => "images/thumbnails/t_15.png", :width => "150", :height => "113"}

%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.gallery();
  })
  //]]>