%div.gallery
  %header
    %h1.page-header גלריה
  %section#main-text
    %p בקרוב…
%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.gallery();
  })
  //]]>