%div.main
  %p.intro סטודיו ליוגה ביתי ומקסים, השוכן בין פתח תקוה ליהוד. בין גבעות ירוקות ועצים במושב רינתיה. בסטודיו מועברים מגוון שיעורי יוגה ומדיטציה לכל הרמות בדגש על יחס אישי. הינכם מוזמנים לחוות תירגול יוגה זה.
  בואו באהבה,
  %br
  רינת צמח בן אשר.  
  %div.main-images
    %ol
      %li
        %img{:src => "images/prayer-hands.png"}
      %li
        %img{:src => "images/empty-studio.png"}
      %li
        %img{:src => "images/light.png"}
      %li
        %img{:src => "images/gate.png"}
  %section.links
    %ol
      %li
        %a{:href => "/about#yoga"} ‎יוגה למתחילים
      %li
        |
      %li
        %a{:href => "/about#limbs"} ‎אשטנגה ויניאסה
      %li
        |
      %li
        %a{:href => "/about#"} ‎יוגה נשית
      %li
        |
      %li
        %a{:href => "/about#yoga-moms"} ‎יוגה אימהות ותינוקות
      %li
        |
      %li
        %a{:href => "/about#meditation"} ‎מדיטציה
      

%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.init();
  })
  //]]>