%aside.notes
  %section
    %header חדש בסטודיו:
    %article.rotate
      %pשיעורי מדיטציה
      %pיום חמישי 9:30
%div.main
  %div#slideshow
    %img{:src => 'images/gate.png', :width => '535', :height => '369'}
    %img{:src => 'images/studio.png', :width => '535', :height => '369'}
  %div.clear
  %section#main-text
    %p
      יוגה = הכי קרוב לעצמך
    %p
      בתרגול פיזי של אשטנגה ויניאסה יוגה נוצר חום גוף שמייצר זיעה המטהרת את הגוף מרעלים פיזיים.  על-ידי תנועה בקצב נשימה משתחרר/ת המתרגל/ת גם באופן מנטאלי מרגשות ומחשבות תקועות.  תנועה וחשיבה אלה מביאות את התודעה למקום שקט שבו מתאפשרת לה מנוחה עמוקה.  מקום בו מתאפשר להתנתק ולו לרגע ממחשבות מטרידות, הגדרות ותוויות הכובלות את הגוף והתודעה ולהתחבר למקור. זהו חיבור למקור מתוך עבודה פיזית של גוף ונשימה, עבודה פיזית לעיתים קשה אך משתלמת.  זהו חיבור למקור שמביא אותנו הכי קרוב לעצמנו,  הכי קרוב לאהבה.
%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.init();
  })
  //]]>