!!!
%html
  %head
    %title בית היוגה - רינתיה
    %meta{:name => "keywords", :content => ''}
    %meta{:name => "description", :content => ''}
    %link{:rel => 'stylesheet', :href => 'css/style.css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    <!--[if lt IE 9]>
    %script{:type => 'text/javascript', :src =>'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    <![endif]-->
    %script{:type => 'text/javascript', :src => 'js/site.js'}
  %body
    %div#main
      %div.everything
        = yield
        %aside.sidebar
          %header
            %a{:href => "/"}
              %img{:src => 'images/logo.png', :width => '178', :height => '126'}
          %nav.navigation
            %ol.navtabs
              %li
                %a{:id => 'schedule' ,:href => '/schedule'}לוח שעורים
              %li
                %a{:href => '/map'}מפת הגעה ודרכי תקשורת
              %li
                %a{:href => '/about'}אודות היוגה
              %li
                %a{:href => '/news'}חדשות ומבצעים
              %li
                %a{:href => 'gallery'}גלריה
          %div.clear
    %div{:id => 'footer', :class => 'tool'}
      %div{:id => 'footer-center', :class => 'center'}
        %aside#footer-sun
        %aside#footer-logo
      %div#footer-bg
      %div#footer-links
        %ol.footertabs
          %li טלפון 052-3986780        
          %li|
          %li
            %a{:href => 'mailto:rinatyo3@gmail.com'}מייל: rinatyo3@gmail.com
          %li|
          %li רחוב הרימונים 37, מושב רינתיה
