!!!
%html
  %head
    %title Mezeg Production Presents
    %link{:rel => 'stylesheet', :href => 'http://www.blueprintcss.org/blueprint/screen.css', :type => 'text/css'}   
    %link{:rel => 'stylesheet', :href => 'css/style.css'}  
  %body
    = yield