!!! 5
%html
  %head
    %title בית היוגה - רינתיה
    %meta{:name => "keywords", :content => "יוגה, רינתיה, רינת צמח בן אשר, אשטנגה ויניאסה"}
    %meta{:name => "description", :content => ''}
    %link{:rel => 'stylesheet', :href => 'css/style.css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    <!--[if lt IE 9]>
    %script{:type => 'text/javascript', :src =>'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    <![endif]-->
    %script{:type => 'text/javascript', :src => 'js/site.js'}
  %body
    %div#wrap
      %div#main.clearfix
        %header.header
          %section.header-left
          %section.header-center
            %aside.logo
              %a{:href => "/"}
                %img{:src => 'images/logo.png', :width => '178', :height => '126'}
        %div.clear
        %div.everything
          %aside.sidebar
            %nav.navigation
              %ol.navtabs
                %li.first
                  %a{:id => 'schedule' ,:href => '/schedule'}לוח שעורים
                %li
                  %a{:id => 'map' ,:href => '/map'}מפת הגעה
                %li
                  %a{:id => 'news' ,:href => '/news'}חדשות ומבצעים
                %li
                  %a{:id => 'about', :href => '/about'}אודות היוגה                                                      
                %li
                  %a{:id => 'gallery' ,:href => '/gallery'}גלריה
                %li
                  %a{:id => 'rinat' ,:href => '/rinat'}‎רינת צמח בן-אשר
            %section.divider
              %img{:src => "images/news-divider.png"}
            %section#notes.notes
              %header
                #{@note.header}
              %article
                #{@note.body}
          %section.body
            = yield
          %div.clear
    %footer#footer
      %div.footer-bg
      %div.footer-top
        %div#footer-links
          %ol.footertabs
            %li טלפון 052-3986780
            %li|
            %li
              %a{:href => 'mailto:rinatyo3@gmail.com'}מייל: rinatyo3@gmail.com
            %li|
            %li רחוב הרימונים 37, מושב רינתיה
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28024597-1']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();