%div.news
  %header
    %h1.page-header חדשות ומבצעים
  %section#main-text
    %p בקרוב…
%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.news();
  })
  //]]>