%div.rinat
  %header
    %h1.page-header ‎רינת צמח בן-אשר
  %section#main-text
    %header.pic
      %img{:src => "images/rinat.png"}
    %p
      אל שיעור היוגה הראשון שלי הגעתי כשהייתי נערה בת 18 בתחילת שירות צבאי, בעקבות מאמר שקראתי בעיתון על יוגה, מדיטציה ושלום עולמי.  מתוך תמימות וכוונות טובות תרגלתי יוגה, עדיין לא הבנתי מה זה שלום?  ולאיזה שלום בדיוק התכוון המשורר?!
    %br
    %p
      המשכתי לתרגל מתוך רצון של חקירה עצמית והידיעה שדרך היוגה היא הדרך הנכונה עבורי ועבור רוב בני האדם.  בתקופה כל כך סוערת בחיי של בילבול הדעת וכאבי לב - המרכז לשיבננדה יוגה בתחנה המרכזית הישנה של תל אביב היה מקלט של שפיות עבורי. למעשה משם התחיל המסע - כעבור זמן קצר עברתי קורס מדיטציה טרנסצנדנטלית. אפילו קיבלתי אישור ממפקד הבסיס להיעדר כשעה ביום לישיבה למדיטציה. יוגה ומדיטציה ליוו את כל תקופת שירותי בצה"ל - והלאה.
    %br
    %p
      אחרי השחרור למדתי תיאטרון ובימוי בירושלים.  כמו כן למדתי מוסיקה, נגינה ופיתוח שמיעה, עבדתי כטכנאית קול ולימדתי תיאטרון בבתי ספר ברחבי הארץ. תרגלתי יוגה בכל מיני מקומות בארץ ובחו"ל, בהרידוואר שבהודו אצל דיפאק צ'ופרה - יוגה ואיורוודה, מדיטצית ויפאסאנה בהודו, ויוגה אצל ויג'אי ואצל שרת.  ובארץ אצל שמעון בן אבי, מירי וגילי חרובי ממשכן היוגה, אובי ליפשיץ  ואלינור בן דב - בייבי יוגה ועיסוי תינוקות.  השתתפתי בכל מיני סדנאות של אורחים מחו"ל, בינהן הגר חרפק, דייויד סוונסונג ודייויד סאי.
    %br
    %p
      משנת 2004 התחלתי ללמד יוגה, ובשנת 2005 הוסמכתי לראשונה כמורה ע"י משכן היוגה. אח"כ עברתי קורס מורים וקורס העמקה אצל שמעון בן אבי, אצלו עדיין לומדת ומתרגלת.
    %br
    %p
      אני מודה לאלוהים ולכל תלמיד ותלמידה על ההזדמנות שניתנה לי לחלוק עמכם את חוויית היוגה.  כל מפגש  ומיפגש יוצר עבורי עוד מקום של חקירה ,למידה והשראה אין סופית .
%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.rinat();
  })
  //]]>