%div.schedule
  %header
    %h1.page-header לוח שעורים
  %article
    %img{:src => 'images/schedule.png'}
    %img.sutra{:src => 'images/schedule-sutra.png'}
  %section#main-text
    %header
      ‎לקראת תרגול
    %p
      ‎הגיע/י כ-5 דקות לפני התירגול פרוס/י מיזרון, הכנ/י חגורה אם צריך וכרית עיניים. ברכ/י לשלום את שיושב/ת לצידך והירגע/י לתוך השקט שהחדר מציע‫.‬
      •
      ‎התירגול אמור לעזור לעיכול, תירגול על קיבה מלאה מפריע לעיכול ולתירגול‫.‬
      •
      ‎אנא ידע/י את המורה על מצבך הבריאותי. אם חל שינוי במצבך הכללי כגון ניתוח, הריון, מחזור, כדי לקבל הנחיות מתאימות לתירגול‫.‬
      •
      ‎אנא בצע/י את התשלום בזמן על מנת למנוע אי נעימות‫.‬
      •
      ‎ניתן לרכוש מזרן וכרית עיניים אישיים בסטודיו לנוחיותכם‫.‬
    %footer
      ‎תירגול נעים !      
%script{:type => "text/javascript", :charset => "utf-8"}
  //<![CDATA[
  $(document).ready(function() {
  rinatyoga.site.schedule();
  })
  //]]>