/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
ol, li{list-style: none;}
.clear{clear:both;}
a:link, a:visited,a:hover,a:active{color:black;text-decoration:none}

html, body {
    height: 100%;
    background-color:#f7edcf;
    font-family: Arial;    
}

body>#main {
    height: auto;
    min-height: 100%;
}

#main {
	min-height: 100%;
    height: 100%;
	margin: 0 auto;
    
}
	
.everything {
	width: 1009px;
    margin: 0 auto 176px;
	padding:50px 0 0;
	overflow:auto;
	position:relative;
	z-index:1;
}

.everything .notes {
	float:left;
	position:relative;
	top: 142px;
	left: 34px;
    background:url('../images/larger_note.png') no-repeat;
    width:249px;
    height:379px;
    direction: rtl;    
}
.notes section {
    position:relative;
    top:100px;
    right:70px;
    width:145px;
}
.notes header {
    font-size: 24px;
}
.notes article {
    font-size: 20px;
    width: 130px;
}

.main {
	float:left;
	direction:rtl;
	width: 580px;
	position:relative;
	z-index:1;
}
.main #slideshow {
    height:370px;
	margin:0 auto;
    width:535px;
}
.main #main-text {
    font-size: 15px;
    font-style:italic;
    color:#690e1d;
	direction:rtl;
	text-align: justify;
    margin:20px 40px 20px 0;
}
.sidebar {
	float:right;
	width:178px;
}
.sidebar .navigation {
	margin:40px 12px 40px 0;
}

.sidebar .navtabs li{
	direction: rtl;
    padding:3px 0;
}
.sidebar .navtabs li a{
    color:#966042;
    font-size: 20px;
}


.sidebar footer {
	text-align:center;
}


/* start schedule */
.schedule {
    direction: rtl;
    float:left;
    width:800px;
    margin-top:55px;
}
.schedule .header {
    padding-bottom:25px;
}
.schedule #main-text {
    width:700px;
    padding-top:10px;
    font-size:15px;
    color:#690E1D;
}

.schedule #main-text header, .schedule #main-text footer{
    font-weight:bold;
    margin:10px 0;
}

.schedule #main-text span {
    color:#ff6670;
}
/* end schedule */


/* start about */
.about {
    direction: rtl;
    float:left;
    width:800px;
    margin-top:55px;
    min-height:500px;
}
.about .header {
    
}
.about #main-text {
    width:700px;
    padding-top:10px;
    font-size:15px;
    color:#690E1D;
}

.about #main-text header, .about #main-text footer{
    font-weight:bold;
    margin:10px 0;
}
.about #limbs-open, .about #limbs-close, .about #series-open, .about #series-close {
    cursor:pointer;
    color:#5fc4a0;
}
.about #limbs-open:hover, .about #limbs-close:hover, .about #series-open:hover, .about #series-close:hover {
    text-decoration:underline;    
}
.about #limbs-text, .about #series-text {
    display:none;
}

/* end schedule */

/* start admin */
.admin {
    float:left;
    width: 800px;
    padding-bottom:100px;
}
.admin .note {
    text-align:right;
    padding:50px;
}

.everything .admin .notes {
	float:left;
	position:relative;
	top: 30px;
	left: 200px;
    background:url('../images/larger_note.png') no-repeat;
    width:249px;
    height:379px;
    direction: rtl;
}

.admin .note input[type=text] {
    direction:rtl;
    width: 250px;
	font-size: 14px;
	height: 30px;
	border: solid 1px #cccccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 8px 0 0;
	color: #4f4f4f;
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    margin:10px 0;
}

.admin .note input[type=text]:focus {
    box-shadow: 0 0 5px #cbf19c;
    -webkit-box-shadow: 0 0 5px #cbf19c;
    -moz-box-shadow: 0 0 5px #cbf19c;
    border:1px solid rgba(189, 200, 177, 0.8);
}

/* end admin */


/* start footer */
#footer {
    height: 174px;
    clear: both;
    position: relative;
    margin-top: -174px;
    z-index:0;
}

#footer #footer-bg {
    background: url('../images/mountains-for-repeat.png') repeat-x;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 155px;
    top: 20px;
}

#footer .center {
   margin: 0 auto;
   width: 0px;
}

#footer.tool .center {
   position: relative;
}

#footer #footer-center #footer-sun {
    height: 559px;
    width: 867px;
    background: url('../images/sun.png') no-repeat;
    position: absolute;
    top: -405px;
    left: -362px;
    z-index: -1;
}

#footer #footer-center #footer-logo {
    height: 114px;
    width: 111px;
    background: url('../images/all-one-thin-petals.png') no-repeat;
    position: absolute;
    top: -90px;
    left: 375px;
    z-index: -1;
}
#footer ol {
	direction: rtl;
    text-align:center;
	position:relative;
    z-index:2;
	top: 135px;
}
#footer .footertabs li{
	display:inline;
	margin: 0 5px;
	color:#fff;
}
#footer .footertabs li a{
	color:#fff;
}
/* end footer */