/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
ol, li{list-style: none;}
.clear{clear:both;}

a:link, a:visited,a:active{color:#763216;text-decoration:none}
a:hover{color: #351204;}

html, body, #wrap { height: 100%; background-color:#c2bdce;font-family: Arial;}

body > #wrap {height: auto; min-height: 100%;}

#main { padding-bottom:110px;margin: 0 auto;}
	
.everything {
	width: 900px;
    margin: 0 auto;
    background-color:#f1f0f4;
}

/*start header*/
.header {
    background-color:#F7E6A2;
}
.header-left {
    height:114px;
    float:left;
    width: 100%;
    background:url('../images/px1-header-repeat.png') repeat-x;
    position:relative;
    top:146px;
    z-index:0;
}
.header-center {
    background:url('../images/px2-header.png') no-repeat;
    width:900px;
    height: 260px;
    margin:0 auto;
    position:relative;
    z-index:1;
}
.header .logo {
    float:right;
    position:relative;
    bottom:94px;
    padding-right:20px;
}
/*end header*/

.everything .notes {
	direction: rtl;
    margin-top:20px;
}
.notes header {
    font-size: 18px;
    color: #e31013;
    font-weight:bold;
}
.notes article {
    font-size: 18px;
    width: 130px;
    color: #763216;
}

.main {
	float:right;
    color:#191919;
    font-size:18px;
	direction:rtl;
	width: 550px;
	margin-bottom:50px;
}
.main .sutra {
    margin-bottom:30px;
}
.main .intro {
    font-size:16px;
    font-weight:bold;
}
.main .main-images {
    margin:30px 0;        
}
.main .main-images ol {
    float:right;
}
.main .main-images li {
    float:left;
    margin-left: 10px;
}
.sidebar {
	float:right;
    padding:0 60px 40px;
}
.sidebar .navigation .navtabs li{
	direction: rtl;
    padding:3px 0;
}
.sidebar .navigation .navtabs .first{
    padding:0 ;
}
.sidebar .navigation .navtabs li a{
    font-size: 20px;
}

.sidebar footer {
	text-align:center;
}

.body {
    float:right;
    width:635px;
}

.sidebar .divider {
    text-align:right;
    margin:20px 0;
}
.links ol{
    float:right;
    font-size:17px;
    margin-top:10px;
}
.links li {
    float:left;
    padding-left:7px;
}

.page-header {
    color: #008a71;
    font-size:20px;
    font-weight:bold;
    padding-bottom:10px;
}


/* start schedule */
.schedule {
    direction: rtl;
    float:right;
}
.schedule .header {
    padding-bottom:25px;
}
.schedule .sutra {
    padding-top:20px;
}
.schedule #main-text {
    padding:10px 0 40px 40px;
    font-size:15px;
    color:#191919;
}

.schedule #main-text header, .schedule #main-text footer{
    font-weight:bold;
    margin-bottom:10px;
}

.schedule #main-text footer{
    margin-top:10px;
}
/* end schedule */

/*start map */
.map {
    direction: rtl;
    float:right;
}
.map #main-text {
    padding:10px 0 40px 40px;
    font-size:15px;
    color:#191919;
}
.map .subtitle {
    font-weight:bold;
}
.map .map-image {
     padding-top:40px;
}
/*end map */

/*start news */
.news {
    direction: rtl;
    float:right;
}
.news #main-text {
    padding:10px 0 40px 40px;
    font-size:25px;
    color:#191919;
}
/*end news */

/*start gallery */
.gallery {
    direction: rtl;
    float:right;
}
.gallery #main-text {
    padding:10px 0 40px 40px;
    font-size:25px;
    color:#191919;
}
/*end gallery */

/*start rinat*/
.rinat {
    direction:rtl;
}
.rinat #main-text {
    padding:10px 0 40px 40px;
    font-size:15px;
}
.rinat #main-text .pic {
    float:right;
    padding-left:20px;
}
/*end rinat*/


/* start about */
.about {
    direction: rtl;
    float:right;
    min-height:500px;
}
.about #main-text {
    padding:0 0 40px 40px;
    font-size:15px;
}

.about #main-text header, .about #main-text footer{
    font-weight:bold;
    margin:10px 0;
}
.about #limbs-open, .about #limbs-close, .about #series-open,
.about #series-close, .about #meditation-open, .about #meditation-close,
.about #yoga-moms-open, .about #yoga-moms-close{
    cursor:pointer;
    color:#008a71;
}
.about #limbs-open:hover, .about #limbs-close:hover,
.about #series-open:hover, .about #series-close:hover,
.about #meditation-open:hover, .about #meditation-close:hover,
.about #yoga-moms-close:hover, .about #yoga-moms-open:hover {
    text-decoration:underline;    
}
.about #limbs-text, .about #series-text, .about #meditation-text, .about #yoga-moms-text{
    display:none;
}

.about #yoga-moms-text li {
    list-style:circle;
    margin-right:15px;
}

/* end schedule */

/* start admin */
.admin {
    padding-bottom:100px;
}
.admin .note {
    text-align:right;
    padding:50px;
}

.everything .admin .notes {
	float:left;
	position:relative;
	top: 30px;
	left: 200px;
    background:url('../images/larger_note.png') no-repeat;
    width:249px;
    height:379px;
    direction: rtl;
}

.admin .note input[type=text] {
    direction:rtl;
    width: 450px;
    height: 400px;
	font-size: 14px;
	height: 30px;
	border: solid 1px #cccccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 0 8px 0 0;
	color: #4f4f4f;
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    margin:10px 0;
}

.admin .note input[type=text]:focus {
    box-shadow: 0 0 5px #cbf19c;
    -webkit-box-shadow: 0 0 5px #cbf19c;
    -moz-box-shadow: 0 0 5px #cbf19c;
    border:1px solid rgba(189, 200, 177, 0.8);
}

/* end admin */


/* start footer */
#footer {
    height: 110px;
    clear: both;
    position: relative;
    margin-top: -110px;
    z-index:0;
}

#footer .footer-top {
    background-color:#716593;
    height:50px;
}
#footer .footer-bg {
    background: url('../images/px3-footer-repeat.png') repeat-x;
    z-index: 1;
    height: 60px;
}
#footer ol {
	direction: rtl;
    text-align:center;
	position:relative;
    z-index:2;
}
#footer .footertabs li{
	display:inline;
	margin: 0 5px;
	color:#fff;
}
#footer .footertabs li a{
	color:#fff;
}
/* CLEAR FIX*/
.clearfix:after {content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* end footer */